<!DOCTYPE html>
<html lang="en">

<head>
    <title>Upload Subjects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {{!-- <script type="text/javascript" src="/static/js/uploaddownloadfiles.js"></script> --}}
</head>

<body>

    {{#if semid}}
    <form class="row g-3 " id="uploadSingleFileForm" method="POST" action="/dashboard/syllabus/{{semid}}/addsubject/addsubjectform" enctype="multipart/form-data" novalidate>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.first_name}}"
                    placeholder="Subject Code" name="subject_code">
                <label for="floatingInput">Subject Code</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.last_name}}"
                    placeholder="Subject Name" name="subject_name">
                <label for="floatingInput">Subject Name</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="numeric" class="form-control" id="floatingInput" value="{{this.email}}"
                    placeholder="Semester" name="semester">
                <label for="floatingInput">Semester</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Type"
                    name="type">
                <label for="floatingInput">Type</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="numeric" class="form-control" id="floatingInput" value="{{this.phone}}"
                    placeholder="credits" name="credits">
                <label for="floatingInput">Credits</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="numeric" class="form-control" id="floatingInput" value="{{this.phone}}"
                    placeholder="lectures per week" name="lectures">
                <label for="floatingInput">Lectures per week</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="numeric" class="form-control" id="floatingInput" value="{{this.phone}}" name="tuts">
                <label for="floatingInput">Tut per week</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" name="viewlink">
                <label for="floatingInput">Link for opening</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="uploadfile">Choose a File:</label>
            <input type="file" class="form-control" placeholder="Choose a upload file" name="file" required></input>
        </div>


        <div class="col-12 d-grid">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    {{/if}}
     <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-between p-4" style="background-color: #ff98a4">
                  <!-- Left -->
                  <div class="me-5">
                        <span>Get connected with us on social networks:</span>
                  </div>
                  <!-- Left -->

                  <!-- Right -->
                  <div class="logoimages">
                        <a class="instagram" style="margin: 0rem 0.5rem" href="https://www.instagram.com" target="_main"
                              id="instalogo">
                              <img src="img/Instagram_logo_2016.svg.png" width="40vw" alt=""></a>
                        <a class="linkedin" style="margin: 0rem 0.5rem" href="https://www.linkedin.com" target="_main"
                              id="linkedinlogo"> <img src="img/LinkedIn_icon_circle.svg.png" width="40vw" alt=""></a>
                        <a class="facebook" style="margin: 0rem 0.5rem" href="https://www.facebook.com" target="_main"
                              id="facebooklogo"> <img src="img/facebook_icon.png" width="40vw" alt=""></a>
                  </div>
                  <!-- Right -->
            </section>
            <!-- Section: Social media -->

            <!-- Section: Links  -->
            <section class="">
                  <div class="container text-center text-md-start mt-5">
                        <!-- Grid row -->
                        <div class="row mt-3">
                              <!-- Grid column -->
                              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                    <!-- Content -->
                                    <h6 class="text-uppercase fw-bold">Unitrack</h6>
                                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                          style="width: 60px; background-color: #ff98a4; height: 2px">
                                    <p>
                                          Hello User! , You can use our Website for many of your benefits i.e; Here you
                                          can find Notes, Books, Previous Years Question papers, Roadmaps of different
                                          types of fields like Web and App development etc.
                                    </p>
                              </div>
                              <!-- Grid column -->

                              <!-- Grid column -->
                              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                    <!-- Links -->
                                    <h6 class="text-uppercase fw-bold">We Provide</h6>
                                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                          style="width: 60px; background-color: #ff98a4; height: 2px">
                                    <p>
                                          <a href="#!" class="text-white">Notes</a>
                                    </p>
                                    <p>
                                          <a href="#!" class="text-white">Previous Years Question Papers</a>
                                    </p>
                                    <p>
                                          <a href="#!" class="text-white">Syllabus</a>
                                    </p>
                                    <p>
                                          <a href="#!" class="text-white">Important Books</a>
                                    </p>

                              </div>
                              <!-- Grid column -->

                              <!-- Grid column -->
                              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                    <!-- Links -->
                                    <h6 class="text-uppercase fw-bold">Useful links</h6>
                                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                          style="width: 60px; background-color: #ff98a4; height: 2px">
                                    <p>
                                          <a href="todos.hbs" class="text-white">Todos</a>
                                    </p>
                                    <p>
                                          <a href="roadmaps.hbs" class="text-white">Roadmaps</a>
                                    </p>
                                    <p>
                                          <a href="#!" class="text-white">Help</a>
                                    </p>
                              </div>
                              <!-- Grid column -->

                              <!-- Grid column -->
                              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                    <!-- Links -->
                                    <h6 class="text-uppercase fw-bold">Contact</h6>
                                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                          style="width: 60px; background-color: #ff98a4; height: 2px">
                                    <p><i class="fas fa-home mr-3"></i>Jamia Milia Islamiya, New Delhi, India</p>
                                    <p><i class="fas fa-envelope mr-3"></i> projectunitrack22@gmail.com</p>
                                    <p><i class="fas fa-phone mr-3"></i>+91 9811964470</p>
                                    <p><i class="fas fa-print mr-3"></i>+91 8957201204</p>
                              </div>
                              <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                  </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                  © 2022 Copyright:
                  <a class="text-white" style="text-decoration: none;">Unitrack.com</a>
            </div>
            <!-- Copyright -->

    </footer>


</body>

</html>
